# APLICACIONde matri9ces de pesos al dataSer Iris

In [1]:
import math
import numpy as np
import seaborn as sns

In [2]:
# Matriz de pesos - 1ra. capa oculta(entrada)
W1 = np.array([[-1.4497573, -4.76139854],
              [0.2133012,  0.09309178],
              [0.9826270, -0.35537705],
              [4.1463435,  1.56562368],
              [-12.6447023, -1.77459845]])

In [3]:
# matriz de pesos - 2da. capa oculta
W2 = np.array([[-0.46225866,   22.323494,   -3.114145],
               [-0.04475530,    5.226892, -113.835393],
               [0.08199511, -272.587652,  221.660410]])

In [4]:
#matriz de pesos - capa de salida
W3 = np.array([[-0.0085989802,  0.7234336,  0.6884929],
               [0.0224606397,  0.7276190, -1.8046660],
               [1.0001433789, -0.9973571, -0.0091003],
               [-0.0001718729, -1.0088885,  1.0175467]])

In [15]:
# Funcion actiivacion
def f_act(X):
    activada = np.array([1/(1+math.exp(-x)) for x in X], dtype=np.float128)
    return activada

# Carga de datos

In [6]:
iris = sns.load_dataset('iris')

In [7]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
xclos = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
especies = iris['species'].unique()

In [9]:
especies

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [10]:
X = iris[xclos].copy()
X.insert(0, 'bias', 1)
X.head()

   bias  sepal_length  sepal_width  petal_length  petal_width
0     1           5.1          3.5           1.4          0.2
1     1           4.9          3.0           1.4          0.2
2     1           4.7          3.2           1.3          0.2
3     1           4.6          3.1           1.5          0.2
4     1           5.0          3.6           1.4          0.2

# Prediccion

In [13]:
prediccion = []
for index, fila in X.iterrows():
    capa1 = f_act(fila.dot(W1))
    capa1 = np.insert(capa1, 0, 1)
    capa2 = f_act(capa1.dot(W2))
    capa2 = np.insert(capa2, 0, 1)
    salida = f_act(capa2.dot(W3))
    prediccion.append(especies[np.argmax(salida)])

In [14]:
prediccion

['setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'setosa',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'versicolor']

In [18]:
iris['Prediccion'] = prediccion
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species Prediccion
0           5.1          3.5           1.4          0.2  setosa     setosa
1           4.9          3.0           1.4          0.2  setosa     setosa
2           4.7          3.2           1.3          0.2  setosa     setosa
3           4.6          3.1           1.5          0.2  setosa     setosa
4           5.0          3.6           1.4          0.2  setosa     setosa

In [19]:
iris.iloc()

# Predicciones erroneas

In [21]:
errores = iris[iris['species'] != iris['Prediccion']]
errores

,sepal_length,sepal_width,petal_length,petal_width,species,Prediccion
98,5.1,2.5,3.0,1.1,versicolor,setosa
127,6.1,3.0,4.9,1.8,virginica,versicolor
149,5.9,3.0,5.1,1.8,virginica,versicolor

In [23]:
eficiencia = (1 - len(errores)/len(iris))*100
eficiencia

98.0